<table>
  <tr>
    <th>ID</th>
    <th>Species</th>
    <th>HP</th>
    <th>Attack</th>
    <th>Defense</th>
    <th>Speed</th>
    <th>SpecialAttack</th>
    <th>SpecialDefense</th>
    <th>Pokedex description</th>
  </tr>
    <h1>Stats</h1>
  <tr>
    <td>{{ .ID }}</td>
    <td>{{ .Species }}</td>
    <td>{{ .Stats.Hp }}</td>
    <td>{{ .Stats.Attack }}</td>
    <td>{{ .Stats.Defense }}</td>
    <td>{{ .Stats.SpecialAttack }}</td>
    <td>{{ .Stats.SpecialDefense }}</td>
  </tr>
</table>

<h1>Dex description</h1>
<p>{{ .DexEntry}}</p>

